/*!
 * Stylesheet for design kmom02.
 *
 * This stylesheet is for the design course and kmom02 where we use LESS.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
  display: none;
}
/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
  display: none;
}
html {
  background-color: #4b4b4c;
}
body {
  background-color: #bfc5d8;
}
.wrap-all {
  max-width: 800px;
  margin: 0 auto;
}
.site-logo {
  display: none;
}
.right {
  float: right;
}
.block {
  margin: auto;
  border-top: 1px solid black;
}
.footer-column {
  width: 33%;
  float: left;
}
.my-navbar {
  list-style: none;
}
.my-navbar li {
  float: left;
  padding: 5px 5px;
  margin: 2px 5px;
  border: 0.1em solid black;
  border-radius: 10%;
}
.my-navbar li:hover {
  background-color: #4b4b4c;
  box-shadow: 1em 1.5em 2em 0.5em #757f94;
  transition-duration: 0.4s;
}
.my-navbar a {
  text-decoration: none;
}
.my-navbar a:hover {
  text-decoration: underline;
}
.footer-column-x p {
  display: inline-block;
  margin: 0 0 2px 0;
}
.footer-column-x a {
  text-decoration: none;
}
.footer-column-x a:hover {
  text-decoration: underline;
}
.footer-column-x h4 {
  margin-bottom: 5px;
}
.site-footer {
  border-top: 1px solid black;
  text-align: center;
}
.site-footer a {
  text-decoration: none;
}
/**
  * Base style to affect HTML elements on a general scale.
  */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: #4b4b4c;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #bfc5d8;
  font: 100.01%/1 serif;
}
/**
  * Layout style for general structure of header, navbar, main, footer
  * and other regions of the page including route specific styles.
  */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
.wrap-all {
  max-width: 800px;
  margin: 0 auto;
}
.site-logo {
  display: none;
}
.right {
  float: right;
}
.block {
  margin: auto;
  border-top: 1px solid black;
}
.inner-wrap {
  max-width: 800px;
  margin: 0 auto;
}
.footer-column {
  width: 33%;
  float: left;
}
.footer-column-x p {
  display: inline-block;
  margin: 0 0 2px 0;
}
.footer-column-x a {
  text-decoration: none;
}
.footer-column-x a:hover {
  text-decoration: underline;
}
.footer-column-x h4 {
  margin-bottom: 5px;
}
.site-footer {
  border-top: 1px solid black;
  text-align: center;
}
.site-footer a {
  text-decoration: none;
}
.my-navbar {
  list-style: none;
}
.my-navbar li {
  float: left;
  padding: 5px 5px;
  margin: 2px 5px;
  border: 0.1em solid black;
  border-radius: 10%;
}
.my-navbar li:hover {
  background-color: #4b4b4c;
  box-shadow: 1em 1.5em 2em 0.5em #757f94;
}
.my-navbar a {
  text-decoration: none;
}
.my-navbar a:hover {
  text-decoration: underline;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
  * My own settings, not currently in their own module.
  */
