/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

/**
 * Variables
 */


/**
 * General layout
 */

// /* Hide submenu, leave this to kmom02 */
// .rm-desktop ul {
//     display: none;
// }

// /* Hide responsive/mobile menu, leave this to kmom02 */
// .rm-navbar-max {
//     display: none;
// }


.site-logo {
    display: none;
}

.right {
    float: right;
}

.block {
    // margin: auto;
    border-top: 1px solid black;
}

.region-sidebar-right {
    max-width: 30%;
    display: inline;
}

.wrap-all {
    max-width: 100%;
    margin: 0 auto;
    background-color: #8f9197;
}

.outer-wrap {
    max-width: 90%;
    margin: auto;
}

.inner-wrap {
    max-width: 80%;
    margin: auto;
    background-color: #bfc5d8;
}

.article {
    max-width: 90em;
    margin: auto 1em;
    display: inline-block;
}

.footer-column {
    width: 33%;
    float: left;
}

.footer-column-x p {
    display: inline-block;
    margin: 0 0 2px 0;
}

.footer-column-x a {
    text-decoration: none;
}

.footer-column-x a:hover {
    text-decoration: underline;
}

.footer-column-x h4 {
    margin-bottom: 5px;
}

.site-footer {
    border-top: 1px solid black;
    text-align: center;
}

.site-footer a {
    text-decoration: none;
}

.my-navbar {
    list-style: none;
}

.my-navbar li {
    float: left;
    padding: 0.1em 0.1em;
    margin: 0.1em 0.2em;
    border: 0.1em solid black;
    border-radius: 10%;
}

.my-navbar li:hover {
    background-color: #8f9197;
    transition-duration: 0.4s;
}

.my-navbar a {
    text-decoration: none;
}

.my-navbar a:hover {
    text-decoration: underline;
}

.region-flash img {
    width: 100%;
    margin: 0.1em auto;
}
